.pages {
    width: 80%;
    min-height: calc(100vh - 3rem);
    margin: 4rem auto 1rem;
    display: grid;
    grid-template-columns: 40% 60%;
    padding-top: 1rem;

    h3 {
        text-align: center;
        color: $myBlue;
    }
}

.pages__section {
    padding: 1rem;
}

.pages__section-delete {
    display: flex;
    flex-direction: column;
    align-items: center;
    select {
        padding: 0.5rem;
        border-radius: 5px;
        width: 80%;
        border: 1px solid $myBlue;
        outline: none;
        margin: 0.5rem 0;
        color: $myBlue;

        option {
            padding: 0.5rem 0;
            color: $myDarkBlue;
        }
    }

    button {
        padding: 0.5rem;
            border-radius: 5px;
            color: white;
            background: $myRed;
            border: none;
            width: 80%;
            display: block;
            margin: 1rem;
        
            &:hover {
                cursor: pointer;
                background: rgb(140, 0, 0);
            }
        
            &:disabled {
                background: #ccc;
                cursor: not-allowed;
            }
    }

    a{
        text-decoration: none;
        color: $myDarkBlue;
        font-weight: 500;
    }
}

.page {
    margin: 1rem;
    padding: 0.5rem;
    text-align: center;

    &:hover {
        background: #ccc;
        cursor: pointer;
    }
}

.courses__input-new {
    padding: 0.5rem;
    border-radius: 5px;
    width: 100%;
    border: 1px solid $myBlue;
    outline: none;
    margin-bottom: 1rem;
}
.courses__input-invalid-new{
padding: 0.5rem;
    border-radius: 5px;
    width: 100%;
    border: 1px solid $myRed;
    outline: none;
    margin-bottom: 1rem;
}

.courses__button-new {
    padding: 0.5rem;
    border-radius: 5px;
    color: white;
    background: $myBlue;
    border: none;
    width: 100%;
    display: block;
    margin-top: 1rem;

    &:hover {
        cursor: pointer;
        background: $myLightBlue;
    }
    &:disabled {
        background: #ccc;
        cursor: not-allowed;
    }
}

.courses__schedule-container {
    margin-bottom: 1rem;
    text-align: center;
}

.courses__day-container {
    display: flex;
    width: 100%;
    gap: 0.5rem;
    input{
        margin: 0;
    }
}

.courses__hours-container {
    padding: 0.5rem;
    border-radius: 5px;
    width: 100%;
    border: 1px solid $myBlue;
    outline: none;
    margin-bottom: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.courses__input-time {
    border-radius: 5px;
    width: 100%;
    border: 1px solid $myBlue;
    outline: none;
    margin-bottom: 0.5rem;
}

.course-schedule{
    margin-left: 1rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.add-form {
    display: flex;
    flex-direction: column;

    h3 {
        text-align: center;
        color: $myBlue;
    }

        label {
            display: block;
            width: 100%;
            margin-bottom: 0.5rem;
    
            input {
                width: 100%;
                padding: 0.5rem;
                border-radius: 5px;
    
                &:focus {
                    outline: none;
                }
            }
        }

        .edit-form__nav {
            display: flex;
            justify-content: space-between;
            margin-top: 1rem;
    
            button {
                padding: 0.5rem;
                background: $myBlue;
                color: white;
                border: none;
                border-radius: 5px;
                cursor: pointer;
    
                &:disabled {
                    background: #ccc;
                    cursor: not-allowed;
                }
            }
    
            div {
                font-size: 0.75rem;
                align-self: flex-end;
                text-decoration: underline;
                color: $myBlue;
    
                &:hover {
                    color: $myLightBlue;
                    cursor: pointer;
                }
            }
        }
    
        .input-valid {
            border: 1px solid $myBlue;
        }
    
        .input-invalid {
            border: 1px solid $myRed;
        }
    
        .invalid-message {
            color: $myRed;
            font-size: 0.75rem;
        }
}

select {
    display: block;
    width: 100%;
    padding: 0.5rem;
    margin-top: 1rem;
    border-radius: 5px;
    border: 1px solid $myBlue;
    outline: none;
}